*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/

# Berkshelf
.vagrant
/cookbooks
Berksfile.lock

# Bundler
Gemfile.lock
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml

emacs24/auto-save-list
emacs24/undohist
emacs24/.cask
emacs24/wget-log*
emacs24/recentf
emacs24/ac-comphist.dat
emacs24/var
emacs24/backups
